.comment-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    background-color: #ddd;
}
textarea {
    resize: none;
    width: 800px;
    height: 40px;
    background-color: #fff;
    font-size: 15px;
}
button {
    background-color: #2F4B5E;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 50px;
    margin-bottom: 16px;
}
.comment-box{
    width: 750;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}
.comment-box p{
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}
.edit-btn {
    position: absolute;
    top: 0px;
    right: 3px;
}
.edit-btn button{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    color: #282828;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;  
    opacity: 0.7;
}
.edit-btn button:hover{
    opacity: 1;
}
.delete-btn {
    position: absolute;
    top: 0px;
    right: 50px;
}
.delete-btn button{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    color: #282828;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;  
    opacity: 0.7;
}
.delete-btn button:hover{
    opacity: 1;
}