.comment-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.comment-container p {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}
.comment-box-container{
    overflow: hidden;
    overflow-y: scroll;
    height: 650px;
   
}
textarea {
    resize: vertical;
    width: 98%;
    min-height: 50px;
    max-height: 500px;
    background-color: #fff;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    
}
.commentbutton  {
    background-color: #2F4B5E;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 50px;
    margin-bottom: 16px;
    border-radius: 4px;
}
button {
    border: none;
    font-size: 15px;
}
.comment-box{
    width: 750;
    padding: 20px;
    margin-bottom: 4px;
    border: 1px solid #03273f;
    position: relative;
    margin: 10px;
    padding: 0px;
}
.comment-box p{
    margin: 5px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    border-bottom:1ps dotted #ddd;
    
}
.edit-btn {
    position: absolute;
    bottom: 0px; 
    right: 3px;
}
.edit-btn button{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #1d1b1b;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;  
    opacity: 0.7;
}
.edit-btn button:hover{
    opacity: 1;
}
.delete-btn {
    position: absolute;
    bottom:  0px;
    right: 60px;
}
.delete-btn button{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #1d1b1b;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;  
    opacity: 0.8;
}
.delete-btn button:hover{
    opacity: 1;
}
.commentLogin {
    font-family: 'PT Sans', sans-serif;
    padding: 25px;
    font-weight: 100;
    font-size: 18px;
}
.comment-container a {
    color: rgb(9, 9, 61);;
    padding: 0px;
    font-weight: 100;
}
.comment-container a:hover {
    color: red;
}
.comment-user-date-container {
    display: flex;
    justify-content: space-between;
    background-color: #116399cb;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}
.review {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #116399cb;
    color: #fff;
}
.comment-box-container::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.comment-box-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
  }
   
  /* Handle */
.comment-box-container::-webkit-scrollbar-thumb {
    background: #116399cb; 
    border-radius: 4px;
    height: 40px;
  }
  
  /* Handle on hover */
.comment-box-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }