.comment-container{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}
.comment-container p {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}
.comment-box-container{
    overflow: hidden;
    overflow-y: scroll;
    height: 650px;
}
textarea {
    resize: vertical;
    width: 100%;
    min-height: 50px;
    max-height: 500px;
    background-color: #fff;
    font-size: 15px;
    
}
button {
    background-color: #2F4B5E;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 50px;
    margin-bottom: 16px;
    border-radius: 4px;
}
.comment-box{
    width: 750;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #ddd;
    border-radius: 4px;
    position: relative;
    
}
.comment-box p{
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    border-bottom:1ps dotted #ddd;
    
}
.edit-btn {
    position: absolute;
    bottom: 0px; 
    right: 3px;
}
.edit-btn button{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    color: #282828;
    background-color: #ddd;
    font-family: 'PT Sans', sans-serif;  
    opacity: 0.7;
}
.edit-btn button:hover{
    opacity: 1;
}
.delete-btn {
    position: absolute;
    bottom:  0px;
    right: 50px;
}
.delete-btn button{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    color: #000000;
    background-color: #ddd;
    font-family: 'PT Sans', sans-serif;  
    opacity: 0.8;
}
.delete-btn button:hover{
    opacity: 2;
}
.commentLogin {
    font-family: 'PT Sans', sans-serif;
    padding: 25px;
    font-weight: 100;
    font-size: 18px;
}
.comment-container a {
    color: rgb(9, 9, 61);;
    padding: 0px;
    font-weight: 100;
}
.comment-container a:hover {
    color: red;
}
.comment-user {
    font-family: 'PT Sans', sans-serif;
    top: 0px;
    left: 3px;
    position: absolute;
}
.comment-date {
    font-family: 'PT Sans', sans-serif;
    top: 0px;
    right: 3px;
    position: absolute;
}
.review {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #03273f;
    color: #fff;
}