body{
    padding: 0;
    margin: 0;
}

.home-container {
    background-image: url("../logos/homebg.jpg");
    background-color: #46525a;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 14em;
    padding-bottom: 14em;
    color: #ffffff;
}
.home-container p {
    color: #ffffff;
}
.lis-title {
    font-size: 45px;
    font-weight: 700;
    border-bottom: 2px solid white;
    font-family: 'PT Sans', sans-serif;
}
.lis {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
}
.testimonail-grid p {
    color: #050505;
    font-family: 'PT Sans', sans-serif;

}
.home-flex1 h1 {
    text-align: center;
    font-size: 30px;
    color: #161515;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 10px;
}
.home-flex2 h1 {
    text-align: center;
    font-size: 30px;
    color: #161515;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 10px;
}
.home-flex1 {
    padding:20px;
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-size: 18px;

}
.home-flex2 {
    padding: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 200px;
    font-size: 18px;
}
.grid-col-span-2 {
    grid-column: span 2;
}
.testimonail-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);

    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

